:host {
  grid-row: 1 / span 3;
}

app-product {
    background-color: rgb(231, 246, 247);
    border: 1px solid #456783;
    border-radius: 6px;
    display: block;
    float: left;
    margin: 5px 10px;
    padding: 7px 10px;
    width: 300px;
}
