h3 {
  margin: 10px 0;
}

div > img {
  margin: 10px 0;
}

.price {
  color: darkgreen;
  font-size: 4vh;
  font-weight: bold;
  margin: 10px 0;
}

button {
  background-color: #04a827;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 20px;
  padding: 5px 60px;
}

button:hover {
  background-color: #057727;
}

button:disabled {
  background-color: grey;
}

i {
  padding: 7px 2px;
}
