<section (click)='onClosePopup($event)' [@visibilityChanged]='state'>
  <div ngClass='content' (click)='$event.stopPropagation()'>
    <h3>{{ 'shopping cart' | uppercase }}</h3>
    <table>
      <tr *ngFor="let product of products; let i=index">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td><img [src]='product.images[0].url' [height]='getImageHeight(product)'/></td>
        <td>${{product.price}}</td>
        <td ngClass='removeBtn'><i class='fa fa-times-circle' (click)='removeProduct(product)'></i></td>
      </tr>
    </table>
    <div ngClass='control'>
      <button id='checkout' (click)='onCheckout($event)'>Checkout</button>
      <button id='backToShop' (click)='onClosePopup($event)'>Back to shopping</button>
    </div>
  </div>
</section>
